/*!
Theme Name: marginelite
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: marginelite
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

marginelite is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
	 ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

*:active,
*:focus {
    outline: 0;
    outline-offset: 0;
}

*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
    opacity: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li:last-child,
ol li:last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

section span {
    display: block;
    position: relative;
}

.overflow {
    overflow: hidden !important;
}

.cursor {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

a,
button,
select {
    outline: none !important;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

input,
textarea {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button:hover {
    cursor: pointer;
}

a,
button,
input,
textarea,
i {
    text-decoration: none;
    outline: 0;
    border: 0;
    transition: all 0.4s ease;
}

a,
button {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: 0;
}

[class*=see] {
    display: block;
}

.none {
    display: none !important;
}

html {
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
    ========================================================================== */


/**
  * Remove the margin in all browsers.
  */

body {
    margin: 0;
}


/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */


/* Grouping content
    ========================================================================== */


/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
    ========================================================================== */


/**
  * Remove the gray background on active links in IE 10.
  */

a {
    background-color: transparent;
}


/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
    font-weight: bolder;
}


/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
  * Add the correct font size in all browsers.
  */

small {
    font-size: 80%;
}


/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
    ========================================================================== */


/**
  * Remove the border on images inside links in IE 10.
  */

img {
    border-style: none;
    pointer-events: none;
}


/* Forms
    ========================================================================== */


/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
  * Correct the padding in Firefox.
  */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *		`fieldset` elements in all browsers.
  */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
    vertical-align: baseline;
}


/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
    overflow: auto;
}


/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
    ========================================================================== */


/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

details {
    display: block;
}


/*
  * Add the correct display in all browsers.
  */

summary {
    display: list-item;
}


/* Misc
    ========================================================================== */


/**
  * Add the correct display in IE 10+.
  */

template {
    display: none;
}


/**
  * Add the correct display in IE 10.
  */

[hidden] {
    display: none;
}

button:focus {
    outline: none;
}

label {
    font-size: 0.8rem;
}


/*--------------------------------------------------------------
 # Typography
 --------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 1rem;
}
span{
      line-height: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 0;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #F6F6F6;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}


/*--------------------------------------------------------------
 # Elements
 --------------------------------------------------------------*/

html {
    box-sizing: border-box;
    line-height: 0;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    /*	margin: 0 0 1.5em 3em;*/
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    /*	margin-left: 1.5em;*/
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

.dots {
    padding-left: 30px;
    position: relative;
}
.dots li{
      position: relative;
}

@media (max-width:600px){
  .dots li p{
      font-size: 18px;
  }
}
.dots li:before{
    width: 8px;
    height: 8px;
    content: '';
    display: block;
    border-radius: 50%;
    background: #404EFF;
    position: absolute;
    left: -28px;
    top: 13px;
}

.vertical_line {
    border-left: 1px solid #ccc;
}

.vertical_line::before {
    content: '';
    position: absolute;
    top: inherit;
    left: 80vw;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

.vertical_line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 64vw;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}


/*--------------------------------------------------------------
 # Forms
 --------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}


/*--------------------------------------------------------------
 # Navigation
 --------------------------------------------------------------*/


/*--------------------------------------------------------------
 ## Links
 --------------------------------------------------------------*/

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}


/*--------------------------------------------------------------
 ## Menus
 --------------------------------------------------------------*/

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}


/*--------------------------------------------------------------
 # Accessibility
 --------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}


/*--------------------------------------------------------------
 # Alignments
 --------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
 # Clearings
 --------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


/*--------------------------------------------------------------
 # Widgets
 --------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}


/*--------------------------------------------------------------
 # Content
 --------------------------------------------------------------*/


/*--------------------------------------------------------------
 ## Posts and pages
 --------------------------------------------------------------*/

.sticky {
    display: block;
}

.post,
.page {
    /*	margin: 0 0 1.5em;*/
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
 ## Comments
 --------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}


/*--------------------------------------------------------------
 # Infinite scroll
 --------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}


/*--------------------------------------------------------------
 # Media
 --------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}


/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}


/*--------------------------------------------------------------
 ## Captions
 --------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}


/*--------------------------------------------------------------
 ## Galleries
 --------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}


/* ===========================================================  BUTTON  */

/*  ------------- WHIT  ------------- */

.white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 0;
    background-color: #fff;
    width: 100%;
    max-width: 165px;
    height: auto;
    min-height: 50px;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 0px;
    border: 0 !important;
    /*  text-transform: uppercase;*/
    font-weight: 900;
    font-family: MyriadPro-Light;
}

.white:hover {
    background-color: #F6F6F6;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
}

.white:focus,
.white:active {
    background-color: #F6F6F6 !important;
}

/*  ------------- END WHIT  ------------- */


/*  ------------- WHIT BORDER ------------- */

.white_border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 0;
    background-color: transparent;
    width: 100%;
    max-width: 165px;
    height: auto;
    min-height: 50px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid #F6F6F6 !important;
    /*  text-transform: uppercase;*/
    font-weight: 900;
    font-family: MyriadPro-Light;
}

.white_border:hover {
    background-color: #F6F6F6;
  color: #000;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
}

.white_border:focus,
.white_border:active {
    background-color: #F6F6F6 !important;
    color: #000;
}

/*  ------------- END WHIT BORDER ------------- */


a.blue__width {
    max-width: 165px;
}

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 0;
    background-color: #2A33FF;
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 50px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 0px;
    border: 0 !important;
    /*  text-transform: uppercase;*/
    text-decoration: none;
    font-family: MyriadPro-Light;
}

.blue:hover {
    background-color: #2A33FF;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.blue:focus,
.blue:active {
    background-color: #2A33FF !important;
}




.gray {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 0;
    background-color: #E8E9E8;
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 50px;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 0px;
    border: 0 !important;
    /*  text-transform: uppercase;*/
    text-decoration: none;
    font-family: MyriadPro-Light;
    font-weight: 600;
}

.gray:hover {
    background-color: #2A33FF;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.gray:focus,
.gray:active {
    background-color: #2A33FF !important;
}



/*  ------------- BLUE BORDER ------------- */

.blue_border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 0;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 50px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid #2A33FF !important;
    /*  text-transform: uppercase;*/
    text-decoration: none;
    font-family: MyriadPro-Light;
}

.blue_border:hover {
    background-color: #2A33FF;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.blue_border:focus,
.blue_border:active {
    background-color: #2A33FF !important;
}


/*  ------------- END BLUE BORDER ------------- */


.transparent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 0;
    background-color: transparent;
    width: 100%;
    max-width: 250px;
    height: auto;
    min-height: 50px;
    color: #9a9a9a;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 0px;
    border: 1px solid #9a9a9a;
    /*  text-transform: uppercase;*/
    text-decoration: none;
    font-family: MyriadPro-Light;
}

.transparent:hover {
   border: 1px solid #2A33FF;
    background-color: #2A33FF;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.transparent:focus,
.transparent:active {
     border: 1px solid #2A33FF;
    background-color: #2A33FF !important;
}


/* END  ===========================================================  BUTTON  */


/*   ===========================================================  FONT font-face  */

@font-face {
    font-family: MyriadPro-Light;
    src: url("../fonts/MyriadPro-Light/MyriadPro-Light.woff2") format("woff2"), url("../fonts/MyriadPro-Light/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light/MyriadPro-Light.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Light/MyriadPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: MyriadPro-Bold;
    src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot") format("embedded-opentype"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format("truetype");
}


/* END  ===========================================================  FONT font-face  */


/* title style */

h1 {
    font-family: MyriadPro-Light;
    font-size: 48px;
    text-transform: uppercase;
    color: #000000;
    line-height: 1.2em;
    margin-bottom: 40px;
    letter-spacing: 0.23em;
}

h1>span{
    display: inline-block;
    font-family: MyriadPro-Light;
    font-size: 82px !important;
    color: #fff !important;
    line-height: 1.2em !important;
    letter-spacing: 0.23em !important;
    text-transform: lowercase !important;
}

@media (max-width:992px) and (min-width: 701px){
  body h1,h1 span{
        font-size: 70px !important;
  }
}
@media (max-width:700px) and (min-width: 501px){
  body h1,h1 span{
        font-size: 50px !important;
  }
}
@media (max-width:500px) and (min-width: 401px){
  body h1,h1 span{
        font-size: 38px !important;
  }
}

@media (max-width:400px) {
  body h1,h1 span{
        font-size: 35px !important;
  }
}


h2 {
    font-family: MyriadPro-Light;
    font-size: 48px;
    color: #000000;
    line-height: 1.15em;
    text-transform: uppercase;
    margin-bottom: 45px;
    letter-spacing: 0.13em;
    margin-top: 0;
}

@media (max-width:992px) and (min-width: 701px){
  h2{
        font-size: 43px;
  }
}
@media (max-width:700px) and (min-width: 501px){
  h2{
        font-size: 37px;
  }
}
@media (max-width:500px) and (min-width: 401px){
  h2{
        font-size: 33px;
  }
}

@media (max-width:400px) {
  h2{
        font-size: 28px;
  }
}
h2:before {
    content: '';
    width: 85px;
    height: 4px;
    display: block;
    background: #2A33FF;
    margin-bottom: 45px;
    margin-top: 0;
}

h3 {
    font-family: MyriadPro-Bold;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.1em;
    /*   text-transform: uppercase;*/
    color: #303030;
    margin-top: 0;
}

h4 {
    font-family: MyriadPro-Bold;
    font-size: 25px;
    font-weight: 900;
    /*   text-transform: uppercase;*/
    color: #010101;
}

h5 {
    font-family: MyriadPro-Bold;
    font-size: 25px;
    font-weight: 900;
    /*   text-transform: uppercase;*/
    color: #010101;
}

section p,
section span,
header p,
header span,
footer span,
p {
    font-family: MyriadPro-Light;
    font-size: 20px;
    color: #010101;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 1.7em;
}


.compensate-for-scrollbar {
    margin-right: 0 !important;
}

a {
    font-family: MyriadPro-Light;
    font-size: 20px;
    color: #010101;
    margin-top: 0;
    line-height: 1.7em;
}

li {
    font-family: MyriadPro-Light;
    font-size: 20px;
    color: #010101;
    letter-spacing: .05em;
    margin-top: 0;
    line-height: 1.7em;
}


/* title end style */


footer,
[class*='section__'] {
    display: inline-block !important;
    width: 100%;
    height: auto;
    position: relative;
}


/* @media element 1201 style  <-- */

@media only screen and (min-width: 1201px) {
    footer,
    [class*='section__'] {
        padding: 100px 0;
    }
}


/* @media END element 1201 style  <-- */


/* @media element 1200 style  --> */

@media only screen and (max-width: 1200px) and (min-width: 993px) {

    footer,
    [class*='section__'] {
        padding: 100px 0;
        display: flex;
    }
    /* display__center__element  ----------------> */
    .display__center__element {
        text-align: center;
    }
    /* display__none__element  ----------------> */
    .display__none__element {
        display: flex;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element {
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element {
        display: block;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element {
        margin-bottom: 50px !important;
    }
    /* margin__center__element  ----------------> */
    .margin__center__element {
        margin: 45px auto 50px !important;
    }
}


/* @media END element 1200 style  --> */


/* @media element 992 style  --> */

@media only screen and (max-width: 992px) and (min-width: 601px) {

    footer,
    [class*='section__'] {
        padding: 50px 0;
    }
/*
    h1 {
        font-size: 40px;
    }
*/
/*
    h2 {
        font-size: 30px;
    }
*/
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 23px;
    }
    /* display__center__element  ----------------> */
    .display__center__element {
        text-align: center;
    }
    /* display__none__element  ----------------> */
    .display__none__element {
        display: flex;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element {
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element {
        display: block;
    }
    /* margin__center__element  ----------------> */
    .margin__center__element {
        margin: 45px auto 50px !important;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element,
    .last {
        margin-bottom: 50px !important;
    }
    /* padding__bottom__element  ----------------> */
    .padding__bottom__element,
    ul.list {
        padding-bottom: 50px !important;
    }
}


/* @media END element 992 style  --> */


/* @media element 600 style  -->  */

@media only screen and (max-width: 600px) {
  #wp-admin-bar-query-monitor{
    display: none !important;
  }
  
    header,
    footer,
    [class*='section__'] {
        padding: 40px 0;
    }
/*
    h1 {
        font-size: 30px !important;
    }
*/
/*
    h2 {
        font-size: 25px !important;
    }
*/
    h3 {
        font-size: 23px;
    }
    h4 {
        font-size: 20px;
    }
    /*
     p {
         font-size: 16px ;
     }
 */
    /* display__center__element  ----------------> */
    .display__center__element {
        text-align: center !important;
    }
    /* display__none__element  ----------------> */
    .display__none__element {
        display: flex;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element {
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element {
        display: block;
    }
    /* margin__center__element  ----------------> */
    .margin__center__element {
        margin: 25px auto 30px !important;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element,
    .last {
        margin-bottom: 30px !important;
    }
    /* padding__bottom__element  ----------------> */
    .padding__bottom__element {
        padding-bottom: 30px !important;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}


/* @media END element 600 style  -->  */

@media only screen and (max-width: 400px) {
    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


/* END  ===========================================================  Havigation Link */

@media only screen and (max-width: 992px) {
    .navigation__link {
        display: none;
    }
}

.navigation__link {
    position: fixed;
    left: 0;
    top: 50%;
    width: 50px;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 3;
    transform: translate(0, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.navigation__link li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__link li {
    height: 55px;
    border-bottom: 1px solid #ECECEC;
    transition: all .7s ease;
}

.navigation__link li:hover {
    background: #ECECEC;
}

.navigation__link li:last-child {
    border-bottom: 1px solid transparent;
}


/* END  ===========================================================  Havigation Link */



/*  ===========================================================  Header */

header.header__opacity {
    position: fixed;
    width: 100%;
    background: transparent;
  margin: 0;
  padding: 20px 0;
}

@media only screen and (max-width: 991px){
    header{
      padding: 10px 0;
  } 
}

.transition{
   transition: all .3s ease;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: #161616;
}


header .logo {
    display: inline-block;
}
header .logo a{
  display: inline-block;
}
header .logo img {
    height: 60px;
    width: auto;
}

header .box__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    height: 60px;
}

header .box__inner a {
    margin-bottom: 0;
    margin: 0 15px;
}

header .box__inner a:last-child{
  margin-right: 0;
}
header .box__inner a:first-child{
    margin-left: 0;
}

.bottom__fixed{
  padding: 10px 15px;
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 4;
  background: rgba(255, 255, 255, 0.6);
  transition: all 1.7s ease;

}

.bottom__fixed a{
     margin: 0 10px;
    max-width: 200px;
    min-height: 43px;
    font-size: 17px;
}

.bottom__fixed a:first-child{
  margin-left: 0;
}

.bottom__fixed a:last-child{
  margin-right: 0;
}

@media(min-width:600px){
  .bottom__fixed{
    display: none;
  }
}

@media (max-width:599px) {
    header .box__inner a:nth-child(1),header .box__inner a:nth-child(2) {
        display: none;
    }
  
  header .box__inner a {
    margin: 0 20px 0 0;
  }
}


/* END  ===========================================================  Header */


/*  ===========================================================  Footer */

footer {
    background: #F6F6F6;
}

footer .logo {
    display: inline-block;
}
footer .logo a{
      display: inline-block;
}
footer .logo img {
    height: 75px;
    width: auto;
}

@media (max-width: 991px) {
    footer .logo {
     
    }
    .social-networks {
    
        padding: 0;
        margin-bottom: 10px;
    }
}


/* END ===========================================================  Footer */



/* ===========================================================  FOOTER Social Networks*/

.social-networks {
    display: flex;
    list-style: none;
}

@media (min-width: 992px) {
    .social-networks {
        justify-content: flex-end;
    }
}

.social-networks {
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 15px;
  justify-content: flex-end;
}



.social-networks li a:hover,
.social-networks li a:active {
    background: #2a33ff;
    color: white;
    border: 1px solid #2a33ff;
    transition: all 0.1s ease !important;
}

.social-networks li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 10px;
    color: black;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: all .2s;
    border: 1px solid #c0c0c0;
}


/* END ===========================================================  FOOTER Social Networks*/


/* ===========================================================  ANIMATION BUTTON */

.anim-button {
    height: 48px;
    width: 48px;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.anim-button span {
    width: 28px;
    height: 3px;
    background-color: #212121;
    margin: 3px 0;
    display: block;
    position: relative;
    -webkit-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in
}

.anim-button:hover span,
.anim-button:hover span:nth-child(2),
.anim-button:hover span:nth-child(3) {
    background-color: #2A33FF;
}

.anim-button span:nth-child(2) {
    width: 28px;
    -webkit-transition: all .8s ease-in;
    -o-transition: all .8s ease-in;
    transition: all .8s ease-in
}

.anim-button span:nth-child(2),
.anim-button span:nth-child(3) {
    height: 3px;
    background-color: #212121;
    margin: 3px 0;
    display: block;
    position: relative;
}

.anim-button span:nth-child(3) {
    width: 28px;
    -webkit-transition: all .12s ease-in;
    -o-transition: all .12s ease-in;
    transition: all .12s ease-in
}


/* END ===========================================================  ANIMATION BUTTON s*/


/*  ===========================================================  ACCOUNT */

.account-menu ul {
    margin: 0 auto;
    padding: 0;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.account-menu ul li {
    margin: 0;
    padding: 0;
    position: relative;
}

.account {
    padding: 150px 0 100px 0;
}

@media (max-width:991px) and (min-width:601px) {
    .account {
        padding: 100px 0 80px 0;
    }
}

@media (max-width:600px) {
    .account {
        padding: 100px 0 80px 0;
    }
}

.account-menu,
.content-account {
    background: #F6F6F6;
}

.content-account {
    padding: 15px;
}

.account-menu ul li {
    list-style: none
}

.account-menu ul li a {
    display: block;
    padding: .5em 15px;
    color: #2a3240;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.account-menu ul li.current-menu-item a,
.account-menu ul li a:hover {
    background-color: #e0e0e0;
    color: #000;
}

.account-menu>ul>li:hover:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #343333;
    color: white;
}

.account-menu>ul>li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: #2a33ff;
    color: white;
}


/* END ===========================================================  ACCOUNT */


/*  ===========================================================  FOOTER */
@media (max-width:992px) and (min-width:601px){
  .footer-menu{
        flex-direction: row;
    flex-wrap: wrap;
  }
  
  ul.footer-menu.menu>li {
      flex: 1 1 200px;
      margin-bottom: 30px;
  }
  
}



@media (min-width:601px){
  footer.footer .footer-menu>li .icone{
    display: none;
  }
}

@media (max-width:600px){
  .footer-menu {
      flex-direction: column;
  }
  
  .footer-menu>li{
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 0px;
    padding: 5px 10px;
  }
  
  .footer-menu>li:nth-child(1){
     border-top: 1px solid #c0c0c0;
  }
  
  .footer-menu>li>.sub-menu{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .7s ease;
  }
  
  .footer-menu>li>.sub-menu.open{
    height: auto;
    overflow: visible;
    opacity: 1;
  }
  
 ul.footer-menu>li:last-child{
    padding-bottom: 5px !important
  }
  
}

.footer-menu{
  transition: all 1.7s ease !important;
}


.footer-menu .ion-plus:before,.footer-menu .ion-minus:before{
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 16px;
}

.footer-menu>li{
  position: relative;
}

footer.footer hr{
  display: none;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
  margin: 40px 0 50px 0;
}

.footer-menu>li>a {
    font-size: 15px;
    font-family: MyriadPro-Bold;
    cursor: none;
    pointer-events: none;
  text-transform: uppercase;
}

.footer-menu>li>.sub-menu li a {
    font-size: 14px;
    color: #000;
}

.footer-menu>li>.sub-menu li a:hover {
    font-size: 14px;
    color: rgb(42, 51, 255);
}

.footer-menu>li>.sub-menu li {
    line-height: inherit;
    line-height: 1.05em;
}

footer hr {
    margin: 45px 0;
}

footer p, footer p a{
    font-family: MyriadPro-Light;
    font-size: 18px;
    color: #010101;
    margin-bottom: 17px;
    margin-top: 0;
    line-height: 1.7em;
/*    font-weight: 900;*/
}

footer p a:hover{
  font-weight: 900
}

.footer-policy {
    text-align: center;
}

.footer-policy li {
    display: inline-block;
    padding: 0 10px
}

.footer-policy li a {
    font-size: 18px;
    color: #000;
}

/* END ===========================================================  FOOTER */


/* ===========================================================  LINEAR */

.registration_wrapper,.login_wrapper{
  position: relative;
}
header,.registration_holder,.login_wrapper_form{
  z-index: 2;
}
.content-linear{
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;

    margin: 0 auto;
    position: absolute;
    padding: 0 15px;
    top: 0;
}


@media (min-width: 768px) {
  .content-linear .container{
    width: 95%;

  }
}
@media (min-width: 992px) {
  .content-linear .container{
    width: 95%;

  }
}
@media (min-width: 1200px) {
  .content-linear .container{
    width: 95%;

  }
}

.linear{
  width: 100%;
  max-width: 1608px;
  height: 100%;
  display: inline-block;
  position: relative;
  pointer-events: none;
}
.linear span{
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(192, 192, 192, 0.2);
  pointer-events: none;
}
.linear span:nth-child(1){
    left: 0vw;
}

.linear span:nth-child(2){
  left: 60vw;
}
.linear span:nth-child(3){
  left: 80vw;
}

.oh-y{
  overflow:hidden; 
  position: relative;
}

/* END ===========================================================  LINEAR */



/* ===========================================================  SLICK SLIDER */


.slider__cripto,.webinar__post,.webinar-video,.slider__depo,.slider__depo_amount {
  display: none;
}

.slick-slider.slick-initialized {
    display: block !important;
}

/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    width: 100%;
 
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{

}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.home_section_header  .slick-slide {
  text-align: center;
  margin: 20px;
}


[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{
  position: absolute;
  top:50%;
  transform: translate(0, -50%);
  font-size: 25px;
  z-index: 3;
}

.slick-slider .ion-chevron-right{
  right: 0;
}

.slick-slider .ion-chevron-left{
  left: 0;
}
/* END ===========================================================  SLICK SLIDER */






/* ===========================================================  BOX MENU  */

.box__menu{
      background: #fff;
    position: fixed;
    left: 100%;
    width: 100%;
    max-width: 300px;
    height: 100%;
    z-index: 999;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    display: block;
    will-change: transform;
    overflow-y: auto;

  
}


.box__menu.open {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-box-shadow: 10px 0 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 10px 0 15px 0 rgba(0, 0, 0, .15);
}


.box__menu a {
    color: #000;
    padding: 15px 30px;
    display: block;
    /*white-space: nowrap;*/
    border-bottom: 1px solid #e8e8e8;
}

.box__menu a img{
  max-width: 50px;
}

.box__menu .current-menu-item>a:after {
    /* color: white; */
}

.box__menu .current-menu-parent>a, .box__menu .current-menu-item>a {
    position: relative;
    background: #e0e0e0;
}
.box__menu #menu-global-menu li{
  position: relative;
}
.box__menu #menu-global-menu .ion-plus:before,.box__menu #menu-global-menu .ion-minus:before{
    position: absolute;
    right: 20px;
    top: 24px;
    font-size: 16px;
}

.box__menu #menu-global-menu>li>.sub-menu{
  overflow: hidden;
  opacity: 0;
  height: 0;
  padding-left: 0px;
}

.box__menu #menu-global-menu>li>.sub-menu.open{
  overflow: visible;
  opacity: 1;
  height: auto;

}

.box__menu #menu-global-menu>li>.sub-menu>li{
    padding-left: 0px;
      transition: all 1.1s ease;
}

.box__menu #menu-global-menu>li>.sub-menu.open>li{
    padding-left: 20px;
      transition: all 1.1s ease;
}

/* END ===========================================================  BOX MENU  */



/*  ===========================================================  LOADER ANIMATION  */

.loader3 {
   width:50px;
   height:50px;
   display:inline-block;
   padding:0px;
   text-align:left;
}
.loader3 span {
   position:absolute;
   display:inline-block;
   width:50px;
   height:50px;
   border-radius:100%;
   background:rgb(136, 141, 136);
   -webkit-animation:loader3 1.5s linear infinite;
   animation:loader3 1.5s linear infinite;
}
.loader3 span:last-child {
   animation-delay:-0.9s;
   -webkit-animation-delay:-0.9s;
}
@keyframes loader3 {
   0% {transform: scale(0, 0);opacity:0.8;}
   100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader3 {
   0% {-webkit-transform: scale(0, 0);opacity:0.8;}
   100% {-webkit-transform: scale(1, 1);opacity:0;}
}


/* END =========================================================== LOADER ANIMATION  */


@media(max-width: 600px){
  body #wpadminbar {
      position: fixed;
  }
}

body.compensate-for-scrollbar header{
      width: calc(100% - 17px)!important;
}

@media(max-width: 991px){
.scroll_htop{
  margin-top: -80px; 
  transition: all 1.7s ease;
}
.scroll_hdow{
 margin-top: 0px;
    transition: all 1.7s ease;
}
    

.scroll_btop{
  margin-bottom: -63px; 
}
.scroll_bdow{
 margin-bottom: 0px;
}
  
}